[submodule "dll/vendor/loguru"]
	path = dll/vendor/loguru
	url = https://github.com/emilk/loguru

[submodule "dll/vendor/MemoryModule"]
	path = dll/vendor/MemoryModule
	url = https://github.com/fancycode/MemoryModule

[submodule "dll/vendor/fasm"]
	path = dll/vendor/fasm
	url = https://github.com/Konctantin/FASM

[submodule "content/ucp/modules/winProcHandler-0.1.0"]
	path = content/ucp/modules/winProcHandler-0.2.0
	url = https://github.com/TheRedDaemon/ucp_winProcHandler
	branch = main
	ignore = dirty

[submodule "content/ucp/modules/graphicsApiReplacer-1.1.0"]
	path = content/ucp/modules/graphicsApiReplacer-1.2.0
	url = https://github.com/TheRedDaemon/ucp_graphicsApiReplacer
	branch = main
	ignore = dirty

[submodule "content/ucp/modules/gmResourceModifier-0.1.0"]
	path = content/ucp/modules/gmResourceModifier-0.2.0
	url = https://github.com/TheRedDaemon/ucp_gmResourceModifier
	branch = main
	ignore  = dirty

[submodule "content/ucp/modules/textResourceModifier-0.2.0"]
	path = content/ucp/modules/textResourceModifier-0.3.0
	url = https://github.com/TheRedDaemon/ucp_textResourceModifier
	branch = main
	ignore = dirty

[submodule "content/ucp/modules/startResources-0.1.0"]
	path = content/ucp/modules/startResources-1.0.0
	url = https://github.com/gynt/ucp_startResources

[submodule "dll/vendor/cxxopts"]
	path = dll/vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
	branch = eb78730

[submodule "content/ucp/modules/aicloader-0.1.1"]
	path = content/ucp/modules/aicloader-1.0.0
	url = https://github.com/UnofficialCrusaderPatch/extension-aicloader

[submodule "content/ucp/modules/aivloader-0.1.2"]
	path = content/ucp/modules/aivloader-1.0.0
	url = https://github.com/UnofficialCrusaderPatch/extension-aivloader

[submodule "content/ucp/modules/aiSwapper-1.1.0"]
	path = content/ucp/modules/aiSwapper-1.1.0
	url = https://github.com/UnofficialCrusaderPatch/extension-aiSwapper

[submodule "content/ucp/modules/files-0.2.2"]
	path = content/ucp/modules/files-1.0.0
	url = https://github.com/UnofficialCrusaderPatch/extension-files

[submodule "content/ucp/modules/maploader-0.1.0"]
	path = content/ucp/modules/maploader-1.0.0
	url = https://github.com/UnofficialCrusaderPatch/extension-maploader

[submodule "content/ucp/modules/ucp2-legacy-2.15.0"]
	path = content/ucp/modules/ucp2-legacy-2.15.0
	url = https://github.com/UnofficialCrusaderPatch/extension-ucp2-legacy

[submodule "content/ucp/plugins/ucp2-legacy-defaults-2.15.0"]
	path = content/ucp/plugins/ucp2-legacy-defaults-2.15.0
	url = https://github.com/UnofficialCrusaderPatch/extension-ucp2-legacy-defaults
[submodule "content/ucp/plugins/ucp2-ai-files-2.15.1"]
	path = content/ucp/plugins/ucp2-ai-files-2.15.1
	url = https://github.com/UnofficialCrusaderPatch/extension-ucp2-ai-files.git
